<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".app.ReceiptApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.PixelReceipt"
        android:usesCleartextTraffic="false">
        <service android:name=".appfunctions.ReceiptFunctionService"
            android:enabled="@bool/appfunctions_enabled"
            tools:targetApi="36"
            android:permission="android.permission.BIND_APP_FUNCTION_SERVICE" android:exported="true">
            <property android:name="android.app.appfunctions.schema" android:value="app_functions_schema.xsd" />
            <property android:name="android.app.appfunctions.v2" android:value="receipt_functions.xml" />
            <intent-filter><action android:name="android.app.appfunctions.AppFunctionService" /></intent-filter>
        </service>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>
